body {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 100%;
    height: 100%;
}

.tab-container {
    margin: 0 auto;
    width: 90%;
}

.tab-contant img {
    width: 300px;
    height: 200px;
    border-radius: 12px;
}

.top-panel {
    display: flex;
    width: 100%;
    gap: 30px;
    align-items: center;
}

.peragraph {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.pera-heading {
    color: red;
    font-size: 17px;
    font-weight: 900;
}

.pera-text {
    color: #788389;
    font-size: 15px;
    font-weight: 100;
}

.circle {
    border: 3px solid;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background: white;
}

.arrow {
    list-style: none;
    margin: 0px;
    padding: 8px 0px;
    position: relative;
}

.line:before {
    content: "";
    position: absolute;
    height: 80%;
    border-left: 2px solid #788389;
    left: 9px;
    top: 47px;
}

.function {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-top: 15px;
    gap: 20px;
    position: relative;
}

.text_center {
    font-size: 15px;
    font-weight: 900;
}

.text_right {
    font-size: 14px;
    font-weight: 100;
    color: #788389;
}

.inclu {
    font-size: 20px;
    font-weight: 900;
}

.tab-link {
    position: relative;
    border-radius: 12px;
}

.tabs {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
}

.child-heading {
    margin: 20px 0px;
    font-size: 30px;
}

::marker {
    content: '';
}

.icon_tab {
    text-transform: capitalize;
    font-weight: 800;
    font-size: 20px;
    padding: 10px;
    background: transparent;
    text-align: left;
    cursor: pointer;
    border: 1px solid #d4e0e7;
    width: 240px;
    position: relative;
    z-index: -1;
    border-radius: 12px;
}

.hyperline {
    width: 50%;
    position: relative;
    left: -50px;
    border: 1px solid #d4e0e7;
}

.tab-link p {
    font-size: 14px;
    font-weight: 600;
    padding: 0px 30px 0px 0px;
    color: #788389;
}

.active {
    color: red;
    border: 4px solid;
}

.active::after {
    content: "\f0d7";
    font-family: "Font Awesome 6 free";
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    font-size: 25px;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: -19px;
}

.tab-content {
    display: none;
    transition: all 5s ease;
}

.tab-content.current {
    display: inherit;
    transition: all 5s ease;
}

.btn-group {
    position: relative;
    right: 0;
    left: 0;
    top: 35px;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

.arrows {
    border-radius: 50%;
    border: none;
    padding: 8px;
    cursor: pointer;
    height: 30px;
    background-color: #dbe7ee;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 320px) and (max-width: 800px) {
    .top-panel {
        flex-direction: column;
    }

    .tabs {
        overflow-x: scroll;
        overflow-y: hidden
    }

    .btn-group {
        top: 0px;
        margin: 20px;
    }

    .hyperline {
        width: 100%;
        left: 0;
    }

    .tab-link {
        font-size: 15px;
        margin: 0px 10px 30px;
    }

    .tab-link p {
        padding: 0px;
        font-size: 12px;
    }

    .line:before {
        top: 60px;
        height: 100%;
    }
}